<div class="container">
  <nav class="sidebar">
    <ul class="side-nav">
      <li class="side-nav__item" routerLinkActive="side-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
        <a class="side-nav__link" routerLink="/users">Users</a>
      </li>
      <li class="side-nav__item" routerLinkActive="side-nav__item--active">
        <a class="side-nav__link" routerLink="/tasks">Tasks</a>
      </li>
    </ul>
  </nav>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>




