<div class="alert" *ngIf="tasks.length < 1 && !isFetching && !error">
  <p class="alert__text">No tasks available!</p>
</div>

<ul class="tasks-list" *ngIf="tasks.length >= 1 && !isFetching">
  <li class="tasks-list__item" *ngFor="let task of tasks">
    <div class="taks-list__data-group">
      <div class="tasks-list__title">{{ task.title }}</div>
      <div *ngIf="task.completed" class="tasks-list__status tasks-list__status--completed">
        Completed
      </div>
      <div *ngIf="!task.completed" class="tasks-list__status tasks-list__status--not-completed">
        Not completed
      </div>
    </div>
  </li>
</ul>

<p *ngIf="isFetching && !error">Loading...</p>

<div class="alert" *ngIf="error">
  <h3 class="heading-2">Error occured</h3>
  <p class="alert__text">{{ error }}</p>
  <button class="btn alert__btn" (click)="onHandleError()">Okay</button>
</div>